*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
}

.titulo{
    margin-bottom: 1.5rem;
}

.form-container{
    background-color: #ccc;
    width: 70%;
    margin: 0 auto 2rem;
    padding: 4rem 2rem;
    border-radius: 4px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form .input{
    width: 59%;
}

.form .btn{
    width: 39%;
}

.validacion{
    width: 50%;
    margin: 0 auto;
}

.photo-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: 2rem auto;
}

.photo{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 5px;
    margin-bottom: .5rem;
    padding-bottom: 10px;
    background-color: #0c0a3e;
}

.btn-form{
    width: 80%;
    margin: 0 auto;
    align-self: center;
}

.btn-paginador{
    width: 14%;
    margin: 0 auto 1rem;
    display: flex;
    justify-content: space-between;
}